@model ONPE_2016.Models.person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.polling_place.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.polling_place.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.person_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
