@model MySQL_EF.Models.accounts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>accounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customers.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers.full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.account_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
